.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-primary);

  color: #fff;

  transition: all 200ms ease-in;

  padding: .5rem;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  color: var(--color-primary);

  border-radius: 10px;

  transform: scale(1.12);
  box-shadow: 2px 5px 7px rgba(0, 0, 0, .5);
}
