.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family: var(--font-primary);

  color: #fff;

  transition: all 200ms ease-in;
}

.btn-ghost {
  color: #fff;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
}

.btn:hover {
  background-color: var(--color-hover);
  border-color: var(--color-hover);

  color: var(--color-white);

  border-radius: 10px;

  transform: scale(1.07);
  box-shadow: 2px 5px 7px rgba(0, 0, 0, .5);
}

.btn-ghost:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: var(--color-white);
  color: var(--color-white);
}

.btn-nav {
  color: #fff;
  background-color: transparent;
  border-width: 0px;

transition: none
}

.btn-nav:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1);
  box-shadow: none;
}
