:root {
  --color-primary: #369;
  --color-secondary: #036;
  --color-light: #fc6;
  --color-background: #ececea;

  --font-primary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}
