:root {
  --color-primary: #036;
  --color-secondary: #fc6;
  --color-neutral: #343434;
  --color-white: #fff;
  --color-background: #ececea;
  --color-hover:#4c70ac;

  --font-primary: "Raleway", sans-serif;
}

html {
  font-family: var(--font-primary);
  background-color: var(--color-background);
}

h1 {
  color: var(--color-primary);
}

h2 {
  color: var(--color-primary);
}

h3 {
  color: var(--color-body);
}

h4 {
  color: var(--color-body);
}

h5 {
  color: var(--color-body);
}

h6 {
  color: var(--color-body);
}

ul {
  color: var(--color-body);
}

ol {
  color: var(--color-body);
}

dt {
  color: var(--color-body);
}

dl {
  color: var(--color-body);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  text-decoration: none;
}

strong {
  color: var(--color-primary);
}

b {
  color: var(--color-primary);
}

blockquote {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-secondary);
}

.color-primary {
  color: var(--color-primary);
}
